
:root{
    --primary1: #1F1A21;
    --primary2: #060008;
    --primary3: #000000;

    --secondary1: #2DF573;
    --secondary2: #1DB954;
    --secondary3: #06752D;

    --light1: #FFFFFF;
    --light2: #F4E6E6;
    --light3: #B7B1B1;
}