@import '../constants/colors.css';

@font-face {
    font-family: 'Jet Brains';
    src: url('../fonts/JetBrainsMonoNL-Regular.ttf');
}
/* 
.navbar{
    border: solid #ffff 1px;
    width: 80vw;
    padding: 0;
    margin: 4vh auto;
    border-radius: 25rem;
    background-color: var(--primary1);
    display: flex;
    align-self: center;
}

.navbar_list{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar_items {
    text-decoration: none;
    color: var(--light1);
    font-size: 1.5rem;
    padding: 0.5vh 1vw;
    font-family: 'Jet Brains';
}

#navbar_heading{
    font-size: 2rem;
    color: var(--secondary3);
} */

.navbar{
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh auto 0 auto;
    width: 80vw;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
}

.navbar_left{
    color: var(--secondary2);
    font-family: 'Jet Brains Mono';
    font-size: 2.5rem;
}

.navbar_list{
    display: flex;
    justify-content: space-between;
}

.navbar_items{
    padding: 0 2vw;
    color: var(--light1);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Jet Brains';
}