@import '../constants/colors.css';

@font-face {
    font-family: 'Jet Brains';
    src: url('../../public/fonts/JetBrainsMonoNL-Regular.ttf');
}

.navbar{
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh auto 0 auto;
    width: 80vw;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
}

.navbar_left{
    color: var(--secondary2);
    font-size: 2.5rem;
}

.navbar_list{
    display: flex;
    justify-content: space-between;
}

.navbar_items{
    padding: 0 2vw;
    color: var(--light1);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Jet Brains';
}