.socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5vw;
    position: fixed;
    top: 20vh;
}

.vertical_line1{
    border: solid 2px white;
    width: 0;
    height: 20vh;
    margin-top: 3vh;
}

.icons{
    width: 5vh;
    height: 5vh;
    margin: 2vh 0;
    color: white;
}

.vertical_line2{
    border: solid 2px white;
    width: 0;
    height: 20vh;
}
