@import './constants/colors.css';

body{
    margin: 0;
    padding: 0;
    background-color : var(--primary3);
}

.pages{
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    justify-content: space-evenly;
}