@import './constants/colors.css';

.home_page{
    margin: 10vh 10vw;
}

.name{
    color: #fff;
    padding: 1vh 2vw;
    border: solid #fff 1px;
    border-radius: 25rem;
    display: inline-block;
    font-size: 1.5rem;
    background-color: var(--primary1);
}