@import './constants/colors.css';

@font-face {
    font-family: 'Jet Brains';
    src: url('../public/fonts/JetBrainsMonoNL-Regular.ttf');
}

.home_page{
    margin: 20vh 8vw 10vh 8vw;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.name{
    color: #fff;
    padding: 1vh 2vw;
    border: solid #fff 1px;
    border-radius: 25rem;
    display: inline-block;
    font-size: 1.5rem;
    background-color: var(--primary1);
}

.profession{
    margin: 2vh 0;
}

#first_text{
    color: var(--light1);
    font-size: 5rem;
    display: inline;
}

#second_text{
    color: var(--secondary3);
    font-size: 5rem;
    display: inline;
}

#third_text{
    color: #fff;
    font-size: 5rem;
    display: inline;
}

.role{
    color: var(--light1);
    font-size: 2rem;
    font-family: 'Jet Brains';
}

#developer{
    color: var(--secondary2);
}

.intro{
    width: 50vw;
    margin-top: 5vh;
    color: var(--light1);
    font-size: 1.5rem;
}

#resume{
    text-decoration: none;
    padding: 1.2vh 1.2vw;
    margin: 5vh auto;
    background: linear-gradient(45deg, var(--secondary1), var(--secondary3));
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    border-radius: 25rem;
    display: inline-block;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 0 rgba(0, 0, 0, 0.2); /* Add 3D shadow */
    position: relative;
    overflow: hidden;
}

.image{
    height : 60vh;
}