@import './constants/colors.css';

.skills{
    color: var(--light1);
    margin: 0 8vw 2vh 8vw;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.skills_title{
    margin : 0 auto 4vh auto;
    font-size: 2.5rem;
    display: block;
}

.tools_title{
    margin : 4vh auto 0 auto;
    font-size: 2.5rem;
    display: block;
}

.professional_skillset{
    display: flex;
    margin: 0 auto 2vh auto;
    width: 80vw;
    justify-content: space-around;
}

.skills_icons{
    width: 48px;
    height: 48px;
    padding: 0 1vh;
}

.tools_set{
    display: flex;
    margin: 2vh auto;
}

.tools_icons{
    width: 48px;
    height: 48px;
    padding: 0 2vw;
}